﻿@using CodeAssignment.Infrastructure.Models
@model List<Result>
@{
    ViewBag.Title = "Please improve our work...";
}

<h1>Hello</h1>
<p>
    Can you convert this assignment to a Visual Studion project/solution, that runs on [F5]?<br />
    The json.txt should be replaced by a .Net api, that uses the repository pattern.<br /><br />
    Can you also extend the list of sales on this page? <br />
    And please put some effort in correcting and improving our scripts.<br /><br />
    We would like...
    <ul>
        <li>the id (i) of the sale before the name</li>
        <li>the city (c) and countryCode (cc) right aligned on the same line as the category</li>
        <li>clean readable code/scripts</li>
    </ul>

</p>
<hr />
<h2>Sales</h2>
<div id="list-of-sales"></div>


<script type="text/javascript">
    $(function () {
        GetSales('@Url.Action("GetJsonData", "WebApi")');
    });
</script>